/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/30142e");
@import url("//hello.myfonts.net/count/30d30c");
@import url("//hello.myfonts.net/count/30d2b0");
@import url("//hello.myfonts.net/count/310156");
/* Sailec Font */
@font-face {
  font-family: 'Sailec-Light';
  src: url("webfonts/30142E_6_0.eot");
  src: url("webfonts/30142E_6_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_6_0.woff2") format("woff2"), url("webfonts/30142E_6_0.woff") format("woff"), url("webfonts/30142E_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Sailec-LightItalic';
  src: url("webfonts/30142E_7_0.eot");
  src: url("webfonts/30142E_7_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_7_0.woff2") format("woff2"), url("webfonts/30142E_7_0.woff") format("woff"), url("webfonts/30142E_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Sailec-Medium';
  src: url("webfonts/30142E_8_0.eot");
  src: url("webfonts/30142E_8_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_8_0.woff2") format("woff2"), url("webfonts/30142E_8_0.woff") format("woff"), url("webfonts/30142E_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Sailec-MediumItalic';
  src: url("webfonts/30142E_9_0.eot");
  src: url("webfonts/30142E_9_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_9_0.woff2") format("woff2"), url("webfonts/30142E_9_0.woff") format("woff"), url("webfonts/30142E_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Sailec-Regular';
  src: url("webfonts/30142E_A_0.eot");
  src: url("webfonts/30142E_A_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_A_0.woff2") format("woff2"), url("webfonts/30142E_A_0.woff") format("woff"), url("webfonts/30142E_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Sailec-RegularItalic';
  src: url("webfonts/30142E_B_0.eot");
  src: url("webfonts/30142E_B_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30142E_B_0.woff2") format("woff2"), url("webfonts/30142E_B_0.woff") format("woff"), url("webfonts/30142E_B_0.ttf") format("truetype");
}

/* Freight Font */
@font-face {
  font-family: 'FreightDispProBook-Regular';
  src: url("webfonts/30D30C_0_0.eot");
  src: url("webfonts/30D30C_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D30C_0_0.woff2") format("woff2"), url("webfonts/30D30C_0_0.woff") format("woff"), url("webfonts/30D30C_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FreightDispProLight-Regular';
  src: url("webfonts/30D30C_1_0.eot");
  src: url("webfonts/30D30C_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D30C_1_0.woff2") format("woff2"), url("webfonts/30D30C_1_0.woff") format("woff"), url("webfonts/30D30C_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FreightDispProLight-Italic';
  src: url("webfonts/30D2B0_0_0.eot");
  src: url("webfonts/30D2B0_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D2B0_0_0.woff2") format("woff2"), url("webfonts/30D2B0_0_0.woff") format("woff"), url("webfonts/30D2B0_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FreightDispProMedium-Regular';
  src: url("webfonts/30D30C_2_0.eot");
  src: url("webfonts/30D30C_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D30C_2_0.woff2") format("woff2"), url("webfonts/30D30C_2_0.woff") format("woff"), url("webfonts/30D30C_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FreightDispProMedium-Italic';
  src: url("webfonts/30D30C_3_0.eot");
  src: url("webfonts/30D30C_3_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D30C_3_0.woff2") format("woff2"), url("webfonts/30D30C_3_0.woff") format("woff"), url("webfonts/30D30C_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FreightDispProBook-Italic';
  src: url("webfonts/30D30C_4_0.eot");
  src: url("webfonts/30D30C_4_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D30C_4_0.woff2") format("woff2"), url("webfonts/30D30C_4_0.woff") format("woff"), url("webfonts/30D30C_4_0.ttf") format("truetype");
}

/* Din Font */
@font-face {
  font-family: 'FFDINWebProCondBold';
  src: url("webfonts/30D2B0_1_0.eot");
  src: url("webfonts/30D2B0_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/30D2B0_1_0.woff2") format("woff2"), url("webfonts/30D2B0_1_0.woff") format("woff"), url("webfonts/30D2B0_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'FFDINWeb';
  src: url("webfonts/310156_0_0.eot");
  src: url("webfonts/310156_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/310156_0_0.woff2") format("woff2"), url("webfonts/310156_0_0.woff") format("woff"), url("webfonts/310156_0_0.ttf") format("truetype");
}

/*# sourceMappingURL=fonts.css.map */
